*{
    list-style: none;
}

body{
    color: black;
    background-color: #EE9972;
    font-family: cambria;
}

div ~ ul{
    background-color: #EDEFEE;
    color: #495E57;
    box-shadow: inset 1px 1px 3px #333333;
    padding: 10px;
}