body{
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 5%;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    margin-right: 5%;

}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem
}

nav{
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    width: max-content;
    background-color: lavenderblush;
    margin-left: 25rem;
    margin-top: 2rem;
}

nav:hover{
    cursor: pointer;
}

nav:visited{
    color: red;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 1rem;
}

section{
    display: flex;
}

article{
    flex: 1;
}

article > h1{
    text-align: center;
    
}


article > h2{
    margin: 2rem;
}


article > img{
    display: block;
    width: 15rem;
    height: 15rem;
    border: 2rem solid whitesmoke;


    /* border-radius: 50%; */
}

.link{
    margin-left: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    display: flex;
    margin-top: end of page;
    border: 2px solid black;
    
}

footer img{
    width: 5rem;
}


footer div{
    flex: 1;


}





